body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background:#0B1C2D;
  color: #e5e7eb;
}

.hero {
  text-align: center;
  padding: 100px 0px;

  background: radial-gradient(circle at top, #611d2f, #020617);
}

.hero button {
  margin-top: 20px;
  padding: 12px 28px;
  background: #0B1C2D;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}

.vision, .join {
  text-align: center;
  font-size: 1.1rem;  
  line-height: 1.6;
  padding: 40px 20px;
}

.pillars {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 20px;
}

.pillar {
  background: #020617;
  padding: 25px;
  width: 250px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #1e293b;
}

footer {
  text-align: center;
  padding: 20px;
  background: radial-gradient(circle at top, #611d2f, #020617);
  color: #94a3b8;
}
